.profile__picture-overlay {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  opacity: 0;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: 0.4s;
}

.profile__picture-overlay:hover {
  opacity: 1;
}
