.popup__input {
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  text-align: left;
}
.popup__input::placeholder {
  color: black;
}
