.card {
  background-color: white;
  width: 30%;
  overflow: hidden;
  border-radius: 10px;
  min-width: 320px;
  max-height: 400px;
  position: relative;
  transform: rotateY(0deg);
  transition: 2s;
  backface-visibility: hidden;
}

@media screen and (max-width: 425px) {
  .card {
    width: 95%;
    min-width: 100px;
  }
}
